/* INDEX */

.imagem-logo {
  grid-template-columns: 1fr 1fr;
}


/* RESET */

.cardImage{
  cursor: pointer;
}

* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* BODY */

body {
  color: #0c0101;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 45px;
  align-items: center;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  flex: 1;
}


/* HEADER */

.voltar {
  font-size: 20px;
  background: transparent;
  cursor: pointer;
  padding-right: 3px;
}

.header {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.21);
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  background-color: rgb(251, 219, 60);
  z-index: 1;
}

.header > div {
  display: flex;
  align-items: center;
}


.header nav a {
  padding: 12px;
  color: inherit;
  text-decoration: none;
}

.edicao {
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.cgprices {
  width: 200px;
  height: 50px;
  margin-right: auto;
}

.favorites {
  background: transparent;
  font-size: 25px;
  cursor: pointer;
}

.qnt-favorites {
  border: 1px solid var(--main-color);
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

/* BODY */

image:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.p {
  font-size: 9px;
}

/* CONTAINER */

.content {
  display:flex;
  flex: 1;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  padding-top: 7px;
}

div {
  text-align: center;
}
ul {
  display: inline-block;
  text-align: left;
  padding: 0px;
}

.menu-fotos {
  list-style: none;
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
}

.menu-fotos li {
  padding: 2px;
}

.menu-fotos li img {
  padding: 0px 1px;
}

/* PRODUCTS GRID */

.products-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin-bottom: 20px;
  padding: 15px;
}


/* TEXT */

hr {
  border: 2;
  border-top: medium double #ccc;
  height: 1px;
  overflow: visible;
  padding: 0;
  color: #ccc;
  text-align: center;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  margin: 30px 0 15px;
  color: #fff;
  margin: 5px;
  padding: 3px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgb(14, 6, 6);
  padding: 10px;
}

.h2 {
  font-size: 30px;
  color: rgb(251, 219, 60);
  padding-top: 10px;
  padding-bottom: 10px;
}

.h3 {
  font-size: 16px;
}

.h4 {
  font-size: 22px;
  padding-top: 18px;
}

.h5 {
  font-size: 16px;
}

.price {
  font-size: 12px;
}

p {
  font-size: 10px;
  color: rgb(156, 152, 152);
  text-align: center;
}

.p-contato {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  color: rgb(231, 14, 14);
  text-align: center;
  margin-bottom: 10px;
  width: 76%;
  padding-bottom: 5px;
}

.p2 {
  font-size: 10px;
  color: rgb(239, 26, 26);
}

.edition{
  font-size: 12px;
}
/* CARD */

.cards-baixa {
  background-color: rgb(243, 11, 11);
  opacity: 0.7;
}

.cards-alta {
  background-color: rgb(19, 11, 244);
  opacity: 0.7;
  margin-top: 24px;
}

.card {
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: block;
  flex-direction: row;
  padding-top: 9px;
}

.card img {
  width: 122px;
  height: auto;
}

.card-content {
  /* padding: 10px; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* padding-top: 0px; */
  padding-bottom: 10px;
}

.card-name {
  font-weight: 200;
  color: black;
}

/* GERAL */

section{
  width: 100%;
}

.sites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  height: 30px;
  margin-bottom: 5px;
}

.stores {
  margin-top: 5px;
  text-align: center;
  font-size: 11px;
}

.prices {
  margin-top: 5px;
  margin-right: 50px;
  text-align: center;
  font-size: 12px;
}

#add-favorites {
  text-align: center;
  font-size: 12px;
  height: 25px;
  width: 197px;
  margin-right: 5px;

}

#add-favorites:hover {
  background-color: rgb(209, 209, 209);
  color: black;
  border: 2px solid #e7e7e7;
}

.busca-carta {
  padding-bottom: 14px;
  display: flex;
  flex-direction: column;
}

.item {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.c {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  margin: 30px 0 15px;
}


/* FOOTER */

.footer {
  background-color: rgb(255, 217, 59 );
  text-align: center;
  color: white;
  width: 100%;
  margin-top: auto;
}